.topNav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.topNavInner {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topNavInner h2 {
    font-family: 'Blue';
    color: var(--color-white);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    line-height: 29.9px;
    font-size: 55px;
    cursor: pointer;
}